// <========== NEW PAGE WEBSITE SCSS STYLING ==========>
.main {
	.new {
		padding: 2rem;
		margin-top: 2.5rem;

		h2 {
			margin-top: 1rem;
			font-weight: 400;
			color: $baseColor_black;
			font-size: $fontSize_normal;
			font-family: $fontStyle_option1;
		}

		.borderLineMid {
			margin: 0.1rem 0;
			border-bottom: $baseColor_lightGrey2 0.1rem solid;
		}

		// <========== NEW PRODUCTS ==========>
		.productDisplay {
			display: grid;
			padding: 1rem 2rem;
			grid-template-columns: repeat(4, 1fr);
			grid-row-gap: 4rem;
			grid-column-gap: 1rem;
			justify-content: space-between;

			.productItem {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				a {
					text-decoration: none;

					img {
						width: 100%;
						height: 400px;
						object-fit: contain;
					}
				}

				.description {
					display: flex;
					padding: 0.5rem 0;
					flex-direction: column;

					.topSection {
						display: flex;
						margin-top: 1rem;
						line-height: 2.5rem;
						flex-direction: column;
						justify-content: space-between;

						a,
						h2 {
							margin: auto 0;
							line-height: 1.15rem;
							text-decoration: none;
							color: $baseColor_black;
							font-size: $fontSize_small;
							font-family: $fontStyle_option1;
						}

						h2 {
							font-weight: 600;
							margin-top: 0.5rem;
							font-size: $fontSize_xSmall;
						}
					}

					a {
						margin-top: 0.25rem;
						text-decoration: none;
						color: $baseColor_lightGrey3;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_option1;
					}

					.bottomSection {
						display: flex;
						justify-content: space-between;

						newButton {
							margin: auto 0;
							margin-right: 0.25rem;
							color: $baseColor_black;
							font-size: $fontSize_normal;
						}
					}
				}
			}
		}

		// <========== TRENDING BRANDS ==========>
		.trendingBrands {
			padding: 2rem;
			margin-top: 2.5rem;

			h2 {
				font-weight: 500;
				text-align: center;
				color: $baseColor_black;
				font-size: $fontSize_large-0;
				font-family: $fontStyle_header;
			}

			.imageDisplay {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				grid-gap: 1rem;

				a:hover {
					transition: all 0.25s ease-in;
					opacity: 0.5;
				}
			}
		}

		// <========== JOIN COMMUNITY ==========>
		.joinCommunity {
			padding: 2rem;
			display: flex;
			flex-direction: column;
			margin-top: 2rem;
			background-color: $backgroundColor_black;

			h2 {
				font-weight: 500;
				text-align: center;
				color: $baseColor_white;
				font-size: $fontSize_large-1;
				font-family: $fontStyle_header;
			}

			newButton {
				margin: 0 auto;
				margin-top: 1.5rem;
				padding: 0.25rem 4rem;
				background-color: $backgroundColor_White;

				a {
					text-align: center;
					color: $baseColor_black;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover {
					transition: all 0.25s ease-in;
					color: $baseColor_lightGrey4;
				}
			}
		}
	}
}
