// <========== STORE PAGE WEBSITE SCSS STYLING ==========>
.main {
	// <========== POPULAR ==========>
	.store {
		padding: 2rem;
		margin-top: 0rem;

		h2 {
			font-weight: 400;
			color: $baseColor_black;
			font-size: $fontSize_large;
			font-family: $fontStyle_option1;
		}

		.productDisplay {
			display: grid;
			padding: 1rem 2rem;
			grid-template-columns: repeat(4, 1fr);
			grid-row-gap: 4rem;
			grid-column-gap: 1rem;
			justify-content: space-between;

			.productItem {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				a {
					text-decoration: none;

					img {
						width: 100%;
						height: 400px;
						object-fit: contain;
					}
				}

				.description {
					display: flex;
					padding: 0.5rem 0.25rem;
					flex-direction: column;

					.topSection {
						display: flex;
						margin-top: 1rem;
						line-height: 2rem;
						flex-direction: column;
						justify-content: space-between;

						a,
						h2 {
							margin: auto 0;
							text-decoration: none;
							color: $baseColor_black;
							font-size: $fontSize_small;
							font-family: $fontStyle_option1;
						}

						h2 {
							font-weight: 600;
							font-size: $fontSize_xSmall;
						}
					}

					a {
						margin-top: 0.25rem;
						text-decoration: none;
						color: $baseColor_lightGrey3;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_option1;
					}

					.bottomSection {
						display: flex;
						justify-content: space-between;

						newButton {
							margin: auto 0;
							margin-right: 0.25rem;
							color: $baseColor_black;
							font-size: $fontSize_normal;
						}
					}
				}
			}
		}

		.borderLineMid {
			margin: 1rem 0;
			border-bottom: $baseColor_lightGrey2 0.1rem solid;
		}

		.bottomContent {
			padding: 0 2rem;
			margin-top: 2.5rem;

			h2 {
				font-weight: 400;
				width: fit-content;
				color: $baseColor_black;
				font-size: $fontSize_normal;
				font-family: $fontStyle_option1;
			}

			.list {
				display: flex;
				margin-top: 1.5rem;

				.links {
					margin: 0;
					padding: 0;
					display: flex;
					width: fit-content;
					flex-direction: column;

					a {
						line-height: 1.75rem;
						color: $baseColor_lightGrey3;
						font-size: $fontSize_small;
						font-family: $fontStyle_option1;
					}

					a:hover {
						color: $baseColor_black;
					}
				}
			}

			.relatedStories {
				margin-top: 3rem;

				.content {
					display: grid;
					padding: 1rem 0;
					margin-top: 1rem;
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 1rem;

					h2 {
						font-weight: 400;
						width: fit-content;
						color: $baseColor_black;
						font-size: $fontSize_small;
						font-family: $fontStyle_option1;
					}

					h5 {
						padding-top: 0.75rem;
						color: $baseColor_lightGrey3;
						font-size: $fontSize_small;
						font-family: $fontStyle_option1;
					}

					a:hover {
						color: $baseColor_black;
					}
				}
			}
		}
	}
}
