/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// Font Stack Properties
$fontStyle_header: "Rubik", sans-serif;
$fontStyle_body: "Rubik", sans-serif;
$fontStyle_option1: "Rubik", sans-serif;
$fontStyle_option2: "Rubik", sans-serif;

// Font Sizes
$fontSize_xSmall: 0.75rem;
$fontSize_small: 0.9rem;
$fontSize_normal: 1rem;
$fontSize_medium: 1.25rem;
$fontSize_large: 1.5rem;
$fontSize_large-0: 2rem;
$fontSize_large-1: 2.5rem;
$fontSize_large-2: 3rem;
$fontSize_XL-large: 4rem;
$fontSize_XL-large-0: 4.5rem;
$fontSize_XL-large-1: 5rem;

/* about-me background circle height & width */
$aboutMECircle: 60rem;
