// Imports
@import "./fonts";
@import "./colors";
@import "./boxShadow";

.container {
	margin: 0 auto;
	padding: 0;
	max-width: 1400px;
}

.main {
	min-height: 100vh;

	// <========== HEADER ==========>
	header {
		padding: 0.5rem 0;

		nav {
			padding: 0 1rem;
			align-items: center;

			.topSection {
				display: flex;
				justify-content: space-between;

				.leftSide,
				.rightSide {
					display: flex;

					.borderDiv {
						margin: auto 0.5rem;
						height: 1.25rem;
						border-right: $baseColor_lightGrey2 0.1rem solid;
					}

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_small;
						color: $baseColor_lightGrey3;
						font-family: $fontStyle_option3;
					}

					a:hover {
						color: $baseColor_black;
					}
				}
			}

			.borderLineMid {
				margin: 1rem 0;
				border-bottom: $baseColor_lightGrey2 0.1rem solid;
			}

			.bottomSection {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.navTitle {
					h2 {
						margin: 0 auto;
						color: $baseColor_black;
						font-size: $fontSize_large;
						font-family: $fontStyle_header;
					}
					h2:hover {
						color: $secondary_Purple;
					}
				}

				.navLinks {
					padding: 0rem;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;

					li {
						list-style: none;

						a {
							padding: 0px 10px;
							margin: 0 auto;
							text-decoration: none;
							color: $baseColor_black;
							font-size: $fontSize_large;
							font-family: $fontStyle_header;
						}

						a:hover {
							color: $baseColor_lightGrey3;
						}
					}
				}

				.navCheckout {
					a {
						padding: 10px;
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_lightGrey3;
					}
				}
			}
		}
	}

	// <========== HERO ==========>
	.hero {
		.title {
			font-weight: 900;
			word-spacing: 0.5rem;
			text-align: center;
			letter-spacing: -0.2rem;
			color: $baseColor_black;
			font-size: $fontSize_XL-large;
			font-family: $fontStyle_header;
		}

		.subtitle {
			margin-top: 1rem;
			text-align: center;
			color: $baseColor_black;
			font-size: $fontSize_normal;
			font-family: $fontStyle_option4;
		}
	}
}

.footer {
	padding: 2rem;
	background-color: $backgroundColor_black;

	.content {
		.topSection {
			display: flex;
			justify-content: space-between;

			.leftSection {
				display: flex;
				justify-content: space-between;

				.additionalInfomation,
				.getHelp,
				.aboutToddBlue {
					display: flex;
					margin-right: 2rem;
					line-height: 0.75rem;
					flex-direction: column;

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_small;
						color: $baseColor_lightGrey4;
						font-family: $fontStyle_option3;
					}

					a:hover {
						color: $baseColor_white;
					}

					.titleSection {
						margin-bottom: 0.25rem;
						letter-spacing: 0.04rem;
						color: $baseColor_white;
						text-transform: uppercase;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}
				}

				.additionalInfomation {
					line-height: 1rem;
					margin-right: 7rem;

					a {
						padding: 10px;
						letter-spacing: 0.04rem;
						text-decoration: none;
						color: $baseColor_white;
						text-transform: uppercase;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}
				}
			}

			.rightSection {
				display: flex;
				align-items: start;
				justify-content: right;

				a {
					padding: 10px;
					text-decoration: none;
					font-size: $fontSize_normal;
					color: $baseColor_lightGrey4;
					font-family: $fontStyle_option3;
				}

				a:hover {
					color: $baseColor_white;
				}
			}
		}

		.borderLineMid {
			margin: 1rem 0;
			border-bottom: $baseColor_lightBlack 0.1rem solid;
		}

		.bottomSection {
			.topHalfSection {
				display: flex;
				justify-content: right;

				a {
					padding: 10px;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseColor_lightGrey4;
					font-family: $fontStyle_option3;
				}

				a:hover {
					color: $baseColor_white;
				}
			}

			.bottomHalfSection {
				display: flex;
				justify-content: space-between;

				.leftSide,
				.rightSide {
					display: flex;

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_xSmall;
						color: $baseColor_lightGrey4;
						font-family: $fontStyle_option3;
					}
				}

				.leftSide {
					.location {
						color: $baseColor_white;

						i {
							margin-right: 1rem;
						}
					}
				}
				.rightSide {
					a:hover {
						color: $baseColor_white;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
