// Imports
@import "./fonts";
@import "./colors";
@import "./boxShadow";

.container {
	margin: 0 auto;
	padding: 0;
	max-width: 1400px;
}

.main {
	min-height: 100vh;

	// <========== HEADER ==========>
	header {
		padding: 0.5rem 0;

		nav {
			padding: 0 1rem;
			align-items: center;

			.topSection {
				display: flex;
				justify-content: space-between;

				.leftSide,
				.rightSide {
					display: flex;

					.borderDiv {
						margin: auto 0.5rem;
						height: 1.25rem;
						border-right: $baseColor_lightGrey2 0.1rem solid;
					}

					a {
						padding: 10px;
						text-decoration: none;
						font-size: $fontSize_small;
						color: $baseColor_lightGrey3;
						font-family: $fontStyle_option3;
					}

					a:hover {
						color: $baseColor_black;
					}
				}
			}

			.borderLineMid {
				margin: 1rem 0;
				border-bottom: $baseColor_lightGrey2 0.1rem solid;
			}

			.bottomSection {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.navTitle {
					h2 {
						margin: 0 auto;
						color: $baseColor_black;
						font-size: $fontSize_large;
						font-family: $fontStyle_header;
					}
					h2:hover {
						color: $secondary_Purple;
					}
				}

				.navLinks {
					padding: 0rem;
					margin: 0 auto;
					display: flex;
					justify-content: space-between;

					li {
						list-style: none;

						a {
							padding: 0px 10px;
							margin: 0 auto;
							text-decoration: none;
							color: $baseColor_black;
							font-size: $fontSize_large;
							font-family: $fontStyle_header;
						}

						a:hover {
							color: $baseColor_lightGrey3;
						}
					}
				}

				.navCheckout {
					a {
						padding: 10px;
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_lightGrey3;
					}
				}
			}
		}
	}

	// <========== HERO ==========>
	.hero {
		.title {
			font-weight: 900;
			word-spacing: 0.5rem;
			text-align: center;
			letter-spacing: -0.2rem;
			color: $baseColor_black;
			font-size: $fontSize_XL-large;
			font-family: $fontStyle_header;
		}

		.subtitle {
			margin-top: 1rem;
			text-align: center;
			color: $baseColor_black;
			font-size: $fontSize_normal;
			font-family: $fontStyle_option4;
		}
	}
}

.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
	background-color: $backgroundColor_black;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
